body {
  background-color: hsl(233, 47%, 7%);
  text-align: center;
}

h3, h4 {
  color: hsl(0, 0%, 100%);
  margin-bottom: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

/* CONTAINER */
.container-fluid {
  padding: 15%;
}

/* CARD LAYOUT */
.card {
  border: none;
}

/* CARD INFORMATION SECTION */
.card-info {
  background-color: hsl(244, 38%, 16%);
  padding: 6% 10% 0;
  border-bottom-left-radius: 3%;
  border-bottom-right-radius: 3%;
}

.card-header, .card-body {
  padding: 0 0 7%;
}

.card-body p {
  font-size: 0.9375rem;
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 0;
  font-family: 'Lexend Deca', sans-serif;
}

.card-footer {
  padding: 10% 0;
}

.card-footer p {
  font-size: 0.75rem;
  color: hsla(0, 0%, 100%, 0.6);
  margin: 3% 0 10%;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  justify-content: space-around;
}

/* CARD IMAGE SECTION */
.card-image, .image {
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}

.card-image {
  background-color: hsl(277, 64%, 61%);
}

.image {
  mix-blend-mode: multiply;
}

@media (min-width: 768px) {
  h4 {
    display: inline-grid;
  }

  /* CONTAINER */
  .container-fluid {
    padding: 0;
    margin: 10% auto;
  }

  /* ROW CONTAINING THE CARD */
  .row {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  /* CARD INFORMATION SECTION */
  .card-info {
    padding: 6% 10%;
    border-radius: 0;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
  }

  .card-footer {
    display: inline-flex;
    justify-content: space-between;
  }

  /* CARD IMAGE SECTION */
  .card-image, .image {
    border-radius: 0;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
  }

  .image {
    width: 100%;
    height: 100%;
  }
}
